body
{
    height: 100vh;
    margin:0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    background-image: linear-gradient(to left, #379ec1, #00a1ae, #00a08a, #2b9b5a, #659224);
    background-blend-mode: multiply;
}

.div1 {
    grid-area: 2 / 2 / 9 / 7;
    background: white;
    border-radius: 80px;
}
.div2 {
    grid-area: 2 / 4 / 3 / 5;
}
.div3 {
    grid-area: 4 / 3 / 8 / 6;
    position: relative;
}
.div4
{
    position: absolute;
    width: 50%;
    margin-left: 25%;

}
th,table
{
    padding: 10px;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}